@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Fantasy Tabletop</title>

    <style>
        /* Centering the text in the middle of the page */
        .creation-poem {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full height of the viewport */
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #f9bc30;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow for better readability */
        }
    </style>
</head>
<body>
    <div class="creation-poem">
        <p>
            First comes always Everglow
            Hidden pulse from deep and low
            Second comes Foundation Stone
            This one to be left alone!
            Wolfrose lively, Wolfrose calm
            Shifts and turns in pouch or palm
            Many covet Summercrown
            Wisdom’s gift of high renown
            Living Rainbow – fancy’s roam,
            Fickle as the ocean’s foam
            Sin of the Eternal Book
            Seek it if you dare to look
            Last of Ages sees the Bow
            May it ever Truepath show
        </p>
    </div>
</body>
</html>